
@keyframes moveInLeft {
    /* the start */
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    /* In the middle of the animation */
    80% {
      transform: translateX(2rem);
    }
    /* When the animation end */
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes moveInRight {
    /* the start */
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    /* In the middle of the animation */
    80% {
      transform: translateX(-1rem);
    }
    /* When the animation end */
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes moveInBottom {
    /* the start */
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
    /* When the animation end */
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }